<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Confirmed</title>
  </head>
  <body>
    <h2>Email Confirmed</h2>
    <p>Hello <%= email %>,</p>
    <p>
      We're excited to inform you that your email has been successfully
      confirmed! You can now enjoy all the features Eventi has to offer.
    </p>
    <p>Thank you for being part of Eventi!</p>
    <p>Best regards,<br />The Eventi Team</p>
  </body>
</html>
